*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    
}
.navbar_header{
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: white;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 7px 0px;
    z-index:9999;

}
.btn_nav_section{
    font-size: 16px;
}
.btn_section{
    border: 1px solid black;
    border-radius: 23px;
    padding: 10px 28px;
}
.btn_section{
    background-color: black;
}
.btn_section a{
    color: white;
}
.btn_section:hover{
background-color: rgb(4, 31, 57);
}
.navbar_section ul li a:hover{
    color: black;
   
}
.navbar_section ul li a{
    color: gray;
   
}
.home_container{
    gap: 5rem;
}
.home_section{
    padding-top: 10rem;
    padding-bottom: 8rem;
}
.heading_section{
    width: 45%;
   
    

}
.img_colum24 .img1{
    position: absolute;
    top: 20rem;
    bottom: 0;
    


}
.img_colum24 .img2{
    position: absolute;
    top: 46rem;
    


}
.img_colum24 .img3{
    position: absolute;
    
    top: 47rem;
}
.heading_section h1{
    font-size: 2.5rem;
}
.heading_section_btn h4{
    
    border-radius: 58px;
    padding: 5px 13px;
    width: 135px !important;
    font-size: 14px;
    background-color: rgb(237 245 255);

}
#unique{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.btn_column h4{
    
    font-size: 15px;
    background-color: green;
    padding: 7px 15px;
    border-radius: 30px;
    color: white;

}
.img_box_section img{
    padding: 11px 16px;
}
.container_box_section{
    background-color: #fdfbfb;
    margin-right: 3rem;
    border-radius: 10px;
}
.whowhere_section_heading h3{
    font-size: 43px;
}
#whowhere{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.img_cold{
    background-color: rgb(240 243 255);
    
    }
 #clients_section{
    padding-top: 5rem;
    padding-bottom: 5rem;
 }   
 .img_land_section{
    position: absolute;
   
 }
 .btn_class_section{
    padding: 10px 27px;
 }
.footer-center_colum .mb-2{
    letter-spacing: 5px;
}
.colum_section_footer{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.colum_section_footer .row{
    gap: 14rem;
}
.info_footer ul li a:hover{
    color: black;
   
}
.info_footer ul li a{
    color: gray;
   
}
.footer_end{
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid rgb(237 237 237);
    }
    #footer_section{
    border-top: 1px solid rgb(237 237 237);
}
.unique_img_sectio{
    width: 50%;
}


.heding_section_clients{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.section_colum35{
    gap: 3rem;
}
.section_project{
    
    position: absolute;
    top:80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn_nav_section i{
    display: none;
}
.whowhere_section_heading h4{
    letter-spacing: 5px;
}
.section_project h2{
    
    font-size: 3rem;
}
.section_project p{
    font-size: 1.2rem;
    color: gray;
}
.img_clients_section{
    position: relative;
}

.bg-custom{
    background-color: rgb(240 243 255);
}
.row .col-6 h2{
    width: 60%;
}
.contact_form input{
    border: none;
    color: gray;
    
}
.text_box_contact textarea{
    border: none;
    width: 100%;
}
.contact_end{
    display: flex;
    gap: 9rem;
    width: 100%;

}
.notification_contact{
    width: 54%;
    display: flex;
    font-size: 12px;
}
.notification_contact p{
    font-size: 13px;
}
.notification_contact input{
    height: 2.2rem;
    width: 1.7rem;
}
.notification_contact p{
   padding-left: 17px;
   color: gray;
}
.contact_form h1{
    margin-bottom: 4rem;
}
.contact_form {
    background-color: white;
    border-radius: 10px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 4rem !important;
    padding-left: 4rem !important;
    
}

.contact_input{
    width: 100%;
    gap: 50px;
}
.contact_section{
    background-image: url(./img/shape-dotted-light-02.svg);
    background-color: rgb(240 243 255);
    padding: 5rem;
    border-radius: 10px;
    padding-bottom: 0px;

}


.contact_form input:focus{
outline: none;
 
}
.contact_form::placeholder:focus{
    color: black;
}

.text_box_contact textarea:focus{
    outline: none;
}
.btn_contact{
    width: 24%;
    padding: 14px 14px;
}
.contact_secound_section{
    padding: 4rem !important;
}
.contact_secound_section h2{
    margin-bottom: 4rem;

}
.contact_text_colum35 h4{
    font-size: 18px;
    margin-bottom: 1rem;
}
.contact_text_colum35 p{
    color: gray;
    font-size: 14px;

}
.contact_text_colum35{
    margin-bottom:1.9rem;
}
.navbar_section ul{
    display: flex;
}

